.chart-data{
    width:700px;
    max-height:500px;
    height: fit-content;
}

.modal-header{
    display: inline;
    padding: 8px;
    border-radius: 10px;

}

  
      
 .count{
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0,0.4);
    background-color: #EDE4E0;
    z-index: 3;
 }     