.radio-group{
    display: flex;
    flex-direction: row;
  }

  .red{
    color: red;
}

.mc-header{
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    width: 100%;
  }
  